body{
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* W3C */
}
 
h1{
    background-color: #2980b9;
    margin:0;
    color:white;
    padding : 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;


}
 
li{
    background-color: #ffffff;
    height: 40px;
    line-height: 40px;
    color: #666;
}
li:nth-child(2n){
    background-color: #f7f7f7;
}

.fa-plus{
    float: right;
}

#container{
    background-color: #f7f7f7;
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
 }

.completed{
    text-decoration: line-through ;
    color :gray ;
}

input{
    font-size: 18px;
    color: #2980b9;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid  rgba(0,0,0,0);

}
input:focus{
    background-color: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

span{
    background-color: #e74c3c;
    height: 40px;
    width: 0px;
    margin-right: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}
li:hover span{
    width: 40px;
    opacity: 1;
}